<html>
<head>
<title></title>
</head>
<body>

<table border ="2">
<tr>
<th align="center" colspan="4">
<h1>STUDENT DETAILS</h1>
</font>
</th>
</tr>
<tr>
<th rowspan ="2">S.No. </th>
<th colspan ="2">NAME</th>
<th colspan ="2">Phone no.</th>
<th rowspan ="2"> DOB </th>
</tr>
<tr>
<th> F Name </th>
<th> L Name </th>
<th> Mobile </th>
<th> Land Line </th>
</tr>
<tr>
<td> 01 </td>
<td> Prarthana</td>
<td>Sharma</td>
<td>9201265304</td>
<td>7049261205</td>
<td>20-07-2005</td>
</tr>
<tr>
<td>02</td>
<td> palash</td>
<td> rai</td>
<td > 452162522</td>
<td> 8795597</td>
<td> 26-12-2005</td>
</tr>
<tr>
<td>02</td>
<td> sumit</td>
<td> jain</td>
<td > 8962074730</td>
<td> 874526</td>
<td> 21-01-2005</td>
</tr>
<tr>
</table>