
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    
    <video autoplay loop muted class="video-bg">
        <source src="{{ url_for('static', filename='face5.mp4') }}" type="video/mp4">
    </video>

    <div class="container">
        <h1>Emotion Analyzer</h1>
        <p>Detect your emotions and get personalized recommendations.</p>
        <button onclick="window.open('/analyze', '_blank')">Analyze Emotion</button>
    </div>

    <script src="p.js"></script>
</body>
</html>
